// Every page should have a class on the body
// Scope that in each file at the start
.mw-home {

}

.vert_align_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

body._home {
  [data-ur-set="carousel"] {
    overflow: hidden;
    position: relative;
  }
  [data-ur-carousel-component="scroll_container"] {
    position: relative;
  }
  [data-ur-carousel-component="item"] {
    float: left;
  }

  #Wrapper {
    .Content {
      h2 {
        text-align: center;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: normal;
      }
      ul.ProductList {
        list-style-type: none;
        position: relative;
        margin: 0;
        padding: 5px;
        li {
          // margin: 5px;
          float: left;
          padding: 10px 5px;
          overflow: hidden;
          position: relative;
          .ProductImage {
            text-align: center;
            margin: auto auto;
            a {
              width: 100%;
              height: 100%;
              text-decoration: none;
              img {
                margin: auto;
                vertical-align: middle;
              }
            }
          } // End .ProductImage

          .ProductDetails  {
            a {
              font-size: 12px;
              text-decoration: none;
              color: black;
            }
          } // End .ProductDetails

          .ProductPriceRating {
            font-style: normal;
            padding-bottom: 90px;
            em {
              font-style: normal;
              font-size: 13px;
            }
          } // End .ProductPriceRating

          .ProductActionAdd {
            position: absolute;
            bottom: 0px;
            left: 2px;
            right: 2px;
            width: auto;
          } // End .ProductActionAdd

          &.carousel_fix {
            min-width: 150px;
          } // End li.carousel_fix
        }  // End li
      } // End ul.ProductList
    } // End .Content
  } // End #Wrapper
} // End body._home
