body._product {

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

  .ProductMain {
    background-color: $gray_light_item;
    border: 1px solid $gray_med_item;

    padding: 10px;

    font-size: 14px;
    line-height: 24px;
    font-weight: bold;

    .ProductDetailsGrid {
      & > div {
        .Label {
          display: inline-block;
        }
        .Value {
          display: inline;
        }
      }
    }

    form#productDetailsAddToCartForm {
      .ProductDetailsGrid {
        .DetailRow {

          .BulkDiscount input {
            @include button_base;
          }
        }
      }
    }
  } //End .ProductMain

} // End body._product

#ModalOverlay, #ModalContainer {
  opacity: 0;
  pointer-events: none;
}
