// Base
// -----------------------------
// Global styles applied on every page to help "mobilize"

html {
  height: 100%;
  overflow: auto !important;
}

body {
  -webkit-text-size-adjust: none;   // stop zoom on rotation
  background: $body_background_color;
  color: $text_black;
  font-family: $font_family;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

a {
  color: $link_color;
  text-decoration: none;
  word-wrap: break-word;
}

// Don't show the highlight of a link when tapped
a, a:link {
  -webkit-tap-highlight-color: rgba(229, 82, 19, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

// Super and Sub
sup, sub{
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  font-size: 12px;
}
sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

// Don't show type number rotator, its just silly
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
* {
  -webkit-touch-callout: none;
  @include box-sizing(border-box);
}

.mw-clearfix-box {
  @include clearfix;
}
.mw-hide {
  display: none;
}

// Custom Global Classes
#Wrapper {
  padding: 0 10px;

  .ProductActionAdd {
    padding: 10px 0;
    font-weight: normal;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 12px;
    a {
      @include button_base;
      width: auto;
      display: block;

    }
  }
}

// Hacky fix for QuickViewBtn
.QuickViewBtn, #fancy_outer, #fancy_overlay, #fancy_loading, #fancy_title {
  display:none;
  opacity: 0;
  pointer-events: none;
}

// For Testing Purposes Only
.temp {
  border: 2px red solid !important;
}


// For Modal Response:

#ModalOverlay {
  background-color: rgba(15, 15, 15, 0.5);
} // End #ModalOverlay

#ModalContainer {
  background-color: white;
  border-radius: 5px;
  margin-left: 5% !important;
  width: 90% !important;
  padding: 10px;
  text-align: center;

  .fastCartTop {
    .actionLink {
      color: transparent;
      margin-top: 20px;
      a {
        @include button_base;
        display: block;
        margin: 0;
      }
    } // End .actionLink
  } // End .fastCartTop

  .fastCartBottom {
    display: none;
  } // End .fastCartBottom

  a.modalClose {
    @include button_base;
    display: block;
    width: 100% !important;
    text-align: center !important;
  } // End a.modalClose
} // End Modal Container
