.mw-footer {
  @include background($search_bg);

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  padding: 10px;

  font-size: 13px;

  text-align: center;
  color: rgb(176, 139, 142);

  p {
    margin: 5px;
  }

  .mw_pwd_by {
    font-style: italic;
    font-size: 12px;
    margin-top: 15px;
  }
  .mw_logo {
    margin: 5px auto;
  }
}
