@import "globals/uranium";
@import "globals/bourbon/bourbon";
@import "globals/bourbon_fix";
@import "globals/normalize";
@import "globals/variables";
@import "globals/sprites";
@import "globals/lib";

// Import global base styles
@import "globals/base";

// Header & Footer
@import "sections/header";
@import "sections/footer";

// Pages
@import "pages/home";
@import "pages/category";
@import "pages/product";


.ProductActionAdd {
  padding: 10px 0;
  font-weight: normal;
  width: 100%;
  position: relative;
  text-align: center;
  a {
    @include button_base;
    width: auto;
    display: block;

  }
}

.QuickViewBtn, #fancy_outer, #fancy_overlay, #fancy_loading, #fancy_title {
  display:none;
  opacity: 0;
  pointer-events: none;
}

#Wrapper {
  padding: 0 10px;
}

.temp {
  border: 2px red solid;
}
